<!doctype html>
<html>
  <head>

  </head>
  <body>
    <h1>
      email ejs template
    </h1>
    <p>
      welcome!! <%= email %> 반가워요!
    </p>
    
    <img src="images/test.png" width="300px"/>
    <script src="main.js">
    </script>
  </body>
</html>